@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Play:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;600;900&family=Source+Code+Pro:wght@400;600;700&family=Source+Sans+3:wght@600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #03434d; */
}

:root {
  --clr-white: #FFFFFF;
  --clr-black: #202020;
  --clr-blue: #6C63FF;
  --clr-blue-2: #4c46b6;
}

body {
  margin: 0;
  font-family: "Play";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #03434d;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%222000%22 height=%221400%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3C%2Fmask%3E%3Cpath fill=%22%23000336%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%234c4e72%22 stroke-width=%222%22 mask=%22url(%23b)%22%3E%3Cpath fill=%22none%22 d=%22M900 0h100v100H900zM1300 0h100v100h-100zM1400 0h100v100h-100zM1800 0h100v100h-100zM100 100h100v100H100zM800 100h100v100H800zM1200 100h100v100h-100z%22%2F%3E%3Cpath fill=%22%234c4e7202%22 d=%22M1300 100h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1400 100h100v100h-100zM1500 100h100v100h-100zM1600 100h100v100h-100zM0 200h100v100H0zM200 200h100v100H200zM400 200h100v100H400z%22%2F%3E%3Cpath fill=%22%234c4e72b4%22 d=%22M800 200h100v100H800z%22%2F%3E%3Cpath fill=%22none%22 d=%22M900 200h100v100H900zM1200 200h100v100h-100zM1300 200h100v100h-100z%22%2F%3E%3Cpath fill=%22%234c4e7277%22 d=%22M1400 200h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1700 200h100v100h-100zM1800 200h100v100h-100zM900 300h100v100H900z%22%2F%3E%3Cpath fill=%22%234c4e729e%22 d=%22M1100 300h100v100h-100z%22%2F%3E%3Cpath fill=%22%234c4e725c%22 d=%22M1600 300h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 400h100v100H0zM300 400h100v100H300zM400 400h100v100H400zM1100 400h100v100h-100zM100 500h100v100H100zM600 500h100v100H600zM800 500h100v100H800zM1100 500h100v100h-100zM0 600h100v100H0zM500 600h100v100H500z%22%2F%3E%3Cpath fill=%22%234c4e72ca%22 d=%22M600 600h100v100H600z%22%2F%3E%3Cpath fill=%22%234c4e72c5%22 d=%22M1300 600h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1800 600h100v100h-100zM1900 600h100v100h-100z%22%2F%3E%3Cpath fill=%22%234c4e7285%22 d=%22M1000 700h100v100h-100z%22%2F%3E%3Cpath fill=%22%234c4e7283%22 d=%22M1400 700h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1500 700h100v100h-100zM300 800h100v100H300zM1100 800h100v100h-100zM1200 800h100v100h-100zM1800 800h100v100h-100zM0 900h100v100H0zM100 900h100v100H100zM900 900h100v100H900zM1400 900h100v100h-100z%22%2F%3E%3Cpath fill=%22%234c4e729b%22 d=%22M1500 900h100v100h-100z%22%2F%3E%3Cpath fill=%22%234c4e7202%22 d=%22M1400 1000h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1600 1000h100v100h-100zM800 1100h100v100H800zM1500 1100h100v100h-100zM0 1200h100v100H0zM200 1200h100v100H200zM400 1200h100v100H400zM800 1200h100v100H800zM1000 1200h100v100h-100zM1600 1200h100v100h-100z%22%2F%3E%3Cpath fill=%22%234c4e72e6%22 d=%22M500 1300h100v100H500z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1200 1300h100v100h-100z%22%2F%3E%3Cpath fill=%22%234c4e72d6%22 d=%22M1300 1300h100v100h-100z%22%2F%3E%3Cpath fill=%22%234c4e72bf%22 d=%22M1400 1300h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1800 1300h100v100h-100z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22%2F%3E%3Cstop offset=%221%22 stop-color=%22%23fff%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");

}

.magicpattern { 
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%222000%22 height=%221400%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3C%2Fmask%3E%3Cpath fill=%22%23000336%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%234c4e72%22 stroke-width=%222%22 mask=%22url(%23b)%22%3E%3Cpath fill=%22none%22 d=%22M900 0h100v100H900zM1300 0h100v100h-100zM1400 0h100v100h-100zM1800 0h100v100h-100zM100 100h100v100H100zM800 100h100v100H800zM1200 100h100v100h-100z%22%2F%3E%3Cpath fill=%22%234c4e7202%22 d=%22M1300 100h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1400 100h100v100h-100zM1500 100h100v100h-100zM1600 100h100v100h-100zM0 200h100v100H0zM200 200h100v100H200zM400 200h100v100H400z%22%2F%3E%3Cpath fill=%22%234c4e72b4%22 d=%22M800 200h100v100H800z%22%2F%3E%3Cpath fill=%22none%22 d=%22M900 200h100v100H900zM1200 200h100v100h-100zM1300 200h100v100h-100z%22%2F%3E%3Cpath fill=%22%234c4e7277%22 d=%22M1400 200h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1700 200h100v100h-100zM1800 200h100v100h-100zM900 300h100v100H900z%22%2F%3E%3Cpath fill=%22%234c4e729e%22 d=%22M1100 300h100v100h-100z%22%2F%3E%3Cpath fill=%22%234c4e725c%22 d=%22M1600 300h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 400h100v100H0zM300 400h100v100H300zM400 400h100v100H400zM1100 400h100v100h-100zM100 500h100v100H100zM600 500h100v100H600zM800 500h100v100H800zM1100 500h100v100h-100zM0 600h100v100H0zM500 600h100v100H500z%22%2F%3E%3Cpath fill=%22%234c4e72ca%22 d=%22M600 600h100v100H600z%22%2F%3E%3Cpath fill=%22%234c4e72c5%22 d=%22M1300 600h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1800 600h100v100h-100zM1900 600h100v100h-100z%22%2F%3E%3Cpath fill=%22%234c4e7285%22 d=%22M1000 700h100v100h-100z%22%2F%3E%3Cpath fill=%22%234c4e7283%22 d=%22M1400 700h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1500 700h100v100h-100zM300 800h100v100H300zM1100 800h100v100h-100zM1200 800h100v100h-100zM1800 800h100v100h-100zM0 900h100v100H0zM100 900h100v100H100zM900 900h100v100H900zM1400 900h100v100h-100z%22%2F%3E%3Cpath fill=%22%234c4e729b%22 d=%22M1500 900h100v100h-100z%22%2F%3E%3Cpath fill=%22%234c4e7202%22 d=%22M1400 1000h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1600 1000h100v100h-100zM800 1100h100v100H800zM1500 1100h100v100h-100zM0 1200h100v100H0zM200 1200h100v100H200zM400 1200h100v100H400zM800 1200h100v100H800zM1000 1200h100v100h-100zM1600 1200h100v100h-100z%22%2F%3E%3Cpath fill=%22%234c4e72e6%22 d=%22M500 1300h100v100H500z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1200 1300h100v100h-100z%22%2F%3E%3Cpath fill=%22%234c4e72d6%22 d=%22M1300 1300h100v100h-100z%22%2F%3E%3Cpath fill=%22%234c4e72bf%22 d=%22M1400 1300h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1800 1300h100v100h-100z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22%2F%3E%3Cstop offset=%221%22 stop-color=%22%23fff%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
}


/* ------------------------------------------------------ */
/* -- NAVIGATION -- */

nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.nav__brand {
  font-family: 'Montserrat Alternates', sans-serif;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px;
  letter-spacing: 5px;


  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2px 0px;
}

.nav__brand h1 {
  color: var(--clr-blue);
  font-size: clamp(1.75em, 4vw, 2.5em);
  font-weight: 800;
}

.nav__connect {
  width: 175px;
  height: 50px;
  margin: 0 auto;

  background-color: var(--clr-blue);
  color: var(--clr-white);

  border: none;
  border-radius: 14px;

  font-family: "Play";
  font-size: 1.10em;
  font-weight: 600;

  cursor: pointer;
  transition: all 250ms ease;
}

.nav__connect:hover {
  background-color: var(--clr-blue-2);
}

/* ------------------------------------------------------ */
/* -- FORM -- */

.form {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 600px;
}

form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  margin: 0 25px
}

form input[type="text"] {
  width: 250px;
  height: 50px;
  margin: 10px 0;
  padding: 10px;

  border: 1px solid var(--clr-blue);
  border-radius: 14px;

  font-size: 1.10em;
}

form input[type="submit"] {
  background-color: var(--clr-blue);
  color: var(--clr-white);

  width: 250px;
  height: 50px;
  margin: 10px 0;
  padding: 10px;

  border: none;
  border-radius: 14px;

  font-family: "Play";
  font-size: 1.10em;
  font-weight: 400;

  cursor: pointer;
  transition: all 250ms ease;
}

form input[type="submit"]:hover {
  background-color: var(--clr-blue-2);
}

/* ------------------------------------------------------ */
/* -- IMAGE -- */

.image {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 100%;
  /* max-height: 100%; */
  width: 512px;
  /* height: 512px; */
  /* margin: 50px 25px; */
  border: 1px solid var(--clr-blue);
  border-radius: 20px;

  /* padding-top: 0px; */
  overflow: hidden;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 6px;

}

.image__placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image__placeholder p {
  margin: 0 10px;
}

/* ------------------------------------------------------ */
/* -- TEXT -- */
p {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {  
  .nav__connect {
    width: 100px;
    height: 35px;
    border-radius: 20px;
    justify-content: right;
    align-items: right;
  }

  .nav__brand {
    padding: 5px 0 0 15px;
    justify-content: left;
    letter-spacing: 5px;
    font-size: smaller;
  }

  .image {
    width: 312px;
    /* max-width: fit-content; */
    max-height: 100%;
    border: 1px solid var(--clr-blue);
    border-radius: 20px;
  
    overflow: hidden;
  }
  
  .form {
    flex-direction: column;
  }

  
}